body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.container{
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    text-align: center;
}

.login-box{
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button{
    width: 100%;
    padding: 12px;
    background: #0066ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0044cc;
}

h1{
    margin-bottom: 25px;
}
